header {
	background-image: url(/public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	color: #FFF;
	height: 100vh;
}
.header__overlay {
	background-color: rgba(29, 202, 211, .9);
	height: 100vh;
	padding: 25px;
}
.header__top {
	display: grid;
	grid-template-columns: auto 1fr auto;
}
.header__top img {
	width: 175px;
	height: auto;
}
.header__top ul {
	list-style-type: none;
	text-align: center;
}
.header__top li {
	display: inline-block;
	margin-top: 2em;
	font-size: 1.1em;
	padding: 0 1em;
	padding-bottom: .2em;
	font-family: Avenir Heavy;
	cursor: pointer;
	border-bottom: solid 2px transparent;
	transition: all ease .4s;
}
.header__top li:hover {
	border-bottom: solid 2px #FFF;
}
.header__top li:active {
	transform: scale(.95);
}
.header__top .active {
	border-bottom: solid 2px #FFF;
}
.header__top button {
	background-color: #FFF;
	color: #1DCAD3;
	font-family: Avenir Heavy;
	font-size: 1em;
	border: none;
	border-radius: 1000em;
	height: 30px;
	margin-top: 1.75em;
	text-align: center;
	padding: .5em 2em;
	cursor: pointer;
	transition: all ease .4s;
	outline: none;
}
.header__top button:hover {
	transform: scale(1.05);
}
.header__top button:active {
	transform: scale(1);
}
.header__title {
	text-align: center;
}
.header__title h1 {
	font-family: Avenir Heavy;
	font-size: 75px;
	margin-top: 2em;
}
.header__title h2 {
	font-family: Avenir Light;
	font-size: 23px;
	margin-top: .5em;
}
@media only screen and (max-width: 750px) {
	.header__top {
		display: block;
	}
	.header__top ul {
	    text-align: left;
	}
}
