html, body {	
    max-width: 100%;
}
img {
	max-width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
	height: 500px;
	width: 500px;
}
body {
	font-family: Avenir Roman, sans-serif;
}
textarea {
	resize: none;
}
html {	
	scroll-behavior: smooth;
}